.footer{
    background-color: rgb(55, 53, 53);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px 8vw;
    padding-top: 80px;
    margin-top: 100px;
}
.footer-content{
    width: 100%;
    display: grid;
  
   grid-template-columns: 3fr 1fr 1fr;
   
   gap: 80px;

}
.footer-content-left  , .footer-content-right , .footer-content-center {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;

}
.footer-content-left li , .footer-content-right li, .footer-content-center li{
    list-style: none;
    margin-bottom: 10px;
    cursor: pointer;
}
 .footer-content-right h2, .footer-content-center h2{
    color: tomato;
 }
.footer-social-icons{
    width: 40px;
    margin-top: 15px;
    display: flex;
    gap: 10px;
    cursor: pointer;

 }
.footer hr{
    width: 100%;
    height: 2px;
    margin: 20px 0;
 }

 @media (max-width : 750px) {
    .footer-content{
        display: flex;
        flex-direction: column;
        gap: 35px;
    }
    .footer-copyright{
        align-items: center;
    }
    
 }