.login-popup {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(56, 51, 51, 0.9); 
    display: grid;
    z-index: 999; 
}

.login-popup-container {
    place-self: center;
    max-width: 400px;
    width: 90%; 
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 12px;
    font-size: 14px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
    color: #060606; 
}

.login-popup-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 16px;
    color: black;
}

.login-popup-title img {
    width: 18px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.login-popup-title img:hover {
    transform: scale(1.1);
}

.login-popup-inputs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.login-popup-container button{
    color: white;
    background-color: tomato;
    border: none;
    font-size: 15px;
    border-radius: 6px;
    padding: 10px;
    cursor: pointer;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid rgb(13, 12, 12);
    padding: 10px;
    border-radius: 4px;


}
.login-popup-condition{
    display: flex;
    align-items:start;
    gap: 8px;
    margin-top: -15px;

}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: blue;
    cursor: pointer;
}

